@import url(
  https://fonts.googleapis.com/css?family=Roboto:400,
  500,
  700|Work + Sans:300,
  400,
  500,
  600,
  700&display=swap
);

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
  padding-top: 70px;
  -webkit-font-smoothing: antialiased;
}
@media (max-device-width: 480px) {
  body {
    padding-top: 50px;
  }
}
::-moz-selection {
  background: #00b39b;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #00b39b;
  color: #fff;
  text-shadow: none;
}
dl,
menu,
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #3d83df;
  outline: 0;
  transition: all 0.2s ease 0s;
}
a:hover {
  text-decoration: underline;
}
a:active,
a:focus,
a:hover {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 1em 0;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
h1 {
  font-size: 2.125rem;
  color: #00b39b;
}
h1:first-child {
  margin: 0;
}
h2 {
  font-size: 1.875rem;
}
h2:first-child {
  margin-top: 0;
}
h3 {
  font-size: 1.5rem;
}
p {
  margin: 1.6em 0;
}
.vert-align {
  display: table;
  width: 100%;
  height: 100%;
}
.vert-align--centered {
  text-align: center;
}
.vert-align > * {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
}
.grid {
  margin: 0 -10px;
}
.grid:after,
.grid:before {
  content: '';
  display: table;
  clear: both;
}
.grid.grid--to-right [class*='col-'] {
  float: right;
}
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 10px;
}
.col-1 {
  width: 100%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 33.33%;
}
.col-3-2 {
  width: 66.66%;
}
.col-4 {
  width: 25%;
}
@media (max-width: 960px) {
  .col-4 {
    width: 50%;
  }
}
.col-5 {
  width: 20%;
}
.col-6 {
  width: 16.66%;
}
.col-56 {
  width: 56%;
}
.col-44 {
  width: 44%;
}
.col-3-4 {
  width: 75%;
}
.col-2-3 {
  width: 66.66%;
}
.col-4-3 {
  width: 75%;
}
.col-37 {
  width: 37.5%;
}
@media (max-width: 960px) {
  .col-4,
  .col-5,
  .col-6 {
    width: 50%;
  }
  .col-4:nth-of-type(odd),
  .col-5:nth-of-type(odd),
  .col-6:nth-of-type(odd) {
    clear: left;
  }
}
@media only screen and (max-width: 500px),
  only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .col-2,
  .col-3,
  .col-3-2,
  .col-3-4,
  .col-4,
  .col-5,
  .col-6,
  .col-37,
  .col-56 {
    float: none;
    width: 100%;
  }
}
.hamburger {
  padding: 17px 13px 13px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: 0;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0 -10px 0 0;
  overflow: visible;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 24px;
  height: 2px;
  background-color: #00b39b;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner:after,
.hamburger-inner:before {
  content: '';
  display: block;
}
.hamburger-inner:before {
  top: -7px;
}
.hamburger-inner:after {
  bottom: -7px;
}
.hamburger-inner {
  top: 1px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger-inner:before {
  top: 7px;
  transition: opacity 0.15s ease 0.4s;
}
.hamburger-inner:after {
  top: 14px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.is-menu .hamburger .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(135deg);
  transition-delay: 0.1s;
}
.is-menu .hamburger .hamburger-inner:before {
  transition-delay: 0s;
  opacity: 0;
}
.is-menu .hamburger .hamburger-inner:after {
  transform: translate3d(0, -14px, 0) rotate(-270deg);
  transition-delay: 0.1s;
}
.hamburger-box {
  width: 24px;
  height: 16px;
  display: inline-block;
  position: relative;
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -0.5em, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -0.3em, 0);
  }
  90% {
    transform: translate3d(0, -0.1em, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes shake {
  0%,
  to {
    transform: translateZ(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(3px, 0, 0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.slick-slider {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:after,
.slick-track:before {
  content: '';
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-loading .slick-list {
  background: #fff 50% no-repeat;
}
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
}
.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  background: transparent;
  color: transparent;
  outline: none;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev[dir='rtl'] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: '\2190';
}
.slick-prev:before[dir='rtl'] {
  content: '\2192';
}
.slick-next {
  right: -25px;
}
.slick-next[dir='rtl'] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: '\2192';
}
.slick-next:before[dir='rtl'] {
  content: '\2190';
}
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
.slick-dots li,
.slick-dots li button {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #000;
  opacity: 0.75;
}
.logo-docplanner {
  width: 268px;
  height: 33px;
}
@media (max-device-width: 480px) {
  .logo-docplanner {
    width: 215px;
  }
}
.logo-docplanner .p1,
.logo-docplanner .p2 {
  transition: all 0.2s ease 0s;
}
.logo-docplanner .p1 {
  fill: #ababab;
}
.logo-docplanner .p2 {
  fill: #00bfa5;
}
.is-menu .logo-docplanner .p2 {
  fill: #fff;
}
.is-menu .logo-docplanner .p1 {
  fill: hsla(0, 0%, 100%, 0.6);
}
.is-menu .logo-docplanner {
  filter: brightness(200%) saturate(0) contrast(1000%) grayscale(100%);
  -webkit-filter: brightness(200%) saturate(0) contrast(1000%) grayscale(100%);
}
.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 1.1666666667em 1.5em;
  background: #3d83df;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}
.btn:hover {
  color: #fff;
  background: #1662c6;
}
.btn--small {
  font-size: 0.625rem;
  padding: 1em 1.5em;
}
.btn[class*='btn--icon'] {
  position: relative;
  padding-right: 0.7em;
}
.btn[class*='btn--icon']:after {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  line-height: 0.7em;
  margin-top: -0.15em;
  z-index: 1;
  font-size: 1em;
  vertical-align: middle;
  margin-left: 1.45em;
  margin-right: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 0.2s ease;
}
.btn[class*='btn--icon']:hover:after {
  transform: rotate(1turn);
}
.btn--white {
  background: #fff;
  color: #333;
  font-weight: 600;
}
.btn--white:hover {
  background: hsla(0, 0%, 100%, 0.9);
  color: #333;
}
.btn--gray {
  background: #eef2f2;
  color: #333;
}
.btn--gray.social:hover {
  color: #333;
  background: #e0e7e7;
}
.style-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background: #3d83df;
  font-family: Work Sans, Arial, sans-serif;
  color: #333;
  background: #fff;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
.style-select select {
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 3.5em 0 1.5em;
  height: 40px;
  -webkit-appearance: none;
  text-transform: uppercase;
  outline: 0;
}
.style-select:hover {
  background: hsla(0, 0%, 100%, 0.9);
  color: #333;
}
.style-select:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -0.5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  line-height: 1em;
  background: no-repeat url(/icons/arrow-icon@2x.png) 50% 50%;
  background-size: 8px;
  pointer-events: none;
}
.section {
  width: 100%;
}
.section__inner {
  zoom: 1;
  max-width: 1015px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.section__inner:after,
.section__inner:before {
  content: '';
  display: table;
}
.section__inner:after {
  clear: both;
}
.hamburger {
  float: right;
  display: none;
  z-index: 12;
}
@media (max-device-width: 480px) {
  .hamburger {
    display: block;
  }
}
body.is-menu {
  overflow: hidden;
}
body.is-menu .hamburger-inner,
body.is-menu .hamburger-inner:after,
body.is-menu .hamburger-inner:before {
  background: #fff;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: hsla(0, 0%, 100%, 0.98);
  transition: box-shadow 0.25s ease 0s;
}
.main-header h1 {
  margin: 2px 0 0;
  line-height: 68px;
  display: inline-block;
  position: relative;
}
@media (max-device-width: 480px) {
  .main-header h1 {
    line-height: 48px;
    z-index: 12;
  }
}
.main-header a {
  display: inline-block;
}
.main-header.is-sticky {
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.15);
}
.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  padding-top: 10px;
  position: absolute;
  min-width: 220px;
  margin-left: -100px;
  background: #fff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  z-index: 1;
}
.dropdown-content a,
.dropdown-content li {
  display: block;
  width: 100%;
}
.dropdown-content a {
  color: #747474;
  line-height: 120%;
  padding: 12px 16px !important;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content a:hover {
  background-color: #f6f8f8;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-device-width: 480px) {
  .dropdown > a {
    display: none;
  }
  .dropdown .dropdown-content {
    display: block;
    padding-top: 20px;
    position: static;
    min-width: 100%;
    margin-left: 0;
    background: transparent;
    box-shadow: none;
    z-index: 1;
  }
  .dropdown .dropdown-content li {
    padding: 0;
  }
  .dropdown .dropdown-content li a {
    border-bottom: none;
  }
}
.main-nav {
  position: relative;
  float: right;
}
@media (max-device-width: 480px) {
  .main-nav {
    position: fixed;
    top: 0;
    padding: 70px 0 0;
    height: 100%;
    right: 0;
    width: 100%;
    z-index: 10;
    background: #00b39b;
    transition: transform 0.2s ease 0s;
    transform: translateY(-100%);
    overflow-y: auto;
  }
  body.is-menu .main-nav {
    transform: translate(0);
  }
}
.main-menu {
  list-style: none;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 2em;
  padding: 1.33em 0;
}
.main-menu a {
  color: #ababab;
  display: block;
  text-decoration: none;
  padding: 0 0.6em;
}
.main-menu a:hover {
  color: #00b39b;
}
.main-menu li {
  display: inline-block;
}
@media (max-device-width: 480px) {
  .main-menu {
    padding: 0.5em 0;
  }
  .main-menu li:nth-child(3n) a {
    padding: 1em 0 0;
    border-bottom: none;
    opacity: 0.5;
  }
  .main-menu li:nth-child(3n) .dropdown-content a {
    opacity: 1;
  }
  .main-menu a {
    cursor: pointer;
    padding: 1em 0;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  }
  .main-menu a:hover {
    color: #fff;
  }
  .main-menu li {
    display: block;
    padding: 0 20px;
    transition: opacity 0.2s ease 0s;
    opacity: 0;
  }
  .is-menu .main-menu li {
    opacity: 1;
  }
  .is-menu .main-menu li:first-of-type {
    transition-delay: 0.15s;
  }
  .is-menu .main-menu li:nth-of-type(2) {
    transition-delay: 0.25s;
  }
  .is-menu .main-menu li:nth-of-type(3) {
    transition-delay: 0.35s;
  }
  .is-menu .main-menu li:nth-of-type(4) {
    transition-delay: 0.45s;
  }
}
.main-menu .is-current,
.main-menu .is-current a {
  color: #00b39b;
}
@media (max-device-width: 480px) {
  .main-menu .is-current,
  .main-menu .is-current a {
    color: hsla(0, 0%, 100%, 0.8);
  }
}
.main-footer {
  border-top: 1px solid #eef2f2;
  text-align: center;
  padding: 1em 0;
}
.main-footer .section__inner,
.main-footer p {
  font-size: 12px;
  color: #ababab;
}
.main-footer p {
  margin-bottom: 0.4em;
}
.lead {
  margin: 2.0625rem auto 3.75rem;
}
.lead p {
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
}
.lead h1 {
  text-align: center;
}
@media (max-device-width: 480px) {
  .lead {
    margin: 1.25rem auto 1.875rem;
  }
  .lead h1 {
    font-size: 1.875em;
    margin: 0.7em 0;
  }
}
.lead__logo {
  display: block;
  margin: 0 auto;
}
.services {
  margin: 3.75rem auto 2.5rem;
}
@media (max-width: 640px) {
  .services .col-2 {
    width: 100%;
    float: none;
  }
}
.services__item {
  border-radius: 10px;
  padding: 2em 2em 0;
  overflow: hidden;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease 0s;
}
@media (max-width: 830px) {
  .services__item {
    padding: 1.375em 1.25em 0;
  }
}
.services__item--marketplace {
  background: #00ccb1;
}
.services__item--marketplace:hover {
  background: #00ccb1;
  opacity: 0.9;
}
.services__item--saas {
  background: #3d83df;
}
.services__item--saas:hover {
  opacity: 0.9;
}
.services__item--clinics {
  background: #1b2734;
}
.services__item--clinics:hover {
  opacity: 0.9;
}
.services__item h2 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  color: #fff;
}
.services__item h1 {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
}
@media (max-width: 800px) {
  .services__item h1 {
    font-size: 1.25em;
  }
}
@media (max-width: 640px) {
  .services__item h1 {
    font-size: 1.625em;
  }
}
.services__item img {
  margin-bottom: -0.4em;
}
.services__item__screen {
  width: 100%;
  margin-left: 40%;
  margin-top: -2.3em;
}
.services__item__screen img {
  display: block;
}
@media (max-width: 920px) {
  .services__item__screen {
    margin-top: 1.625em;
    margin-left: auto;
    margin-right: auto;
  }
}
.services__item__screen--saas {
  margin-top: 1em;
}
.services .style-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  background: none;
  border: 0;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 1.2rem;
  text-align: center;
}
.services .style-select select {
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 2em 0 0;
  -webkit-appearance: none;
  outline: 0;
  text-transform: none;
  text-decoration: underline;
  cursor: pointer;
}
.services .style-select select option {
  font-size: 1rem;
  line-height: 1.2;
  color: #333;
}
.services .style-select:hover {
  background: none;
  color: #fff;
}
.services .style-select:after {
  background: no-repeat url(/icons/icon-caret-white.svg) 50% 50%;
}
.services .style-select:last-child {
  margin-bottom: 35px;
}
.brands {
  margin: 2.5rem auto 3.125rem;
}
.brands h1 {
  float: left;
  width: 33%;
  font-size: 1.625em;
  margin: 0.25em 0 0.35em;
  padding-right: 1em;
}
@media (max-width: 700px) {
  .brands {
    margin: 1.875rem auto;
  }
  .brands h1 {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .brands__logos {
    float: none;
    width: 100%;
    margin-top: 1.25rem;
  }
}
.brands__logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0;
  list-style: none;
  width: 67%;
}
@media (max-width: 700px) {
  .brands__logos {
    justify-content: center;
    width: 100%;
  }
}
.brands__logos li {
  font-size: 1rem;
  display: inline-block;
  margin-top: 0;
  padding: 5px 0 5px 5px;
  width: 25%;
}
@media (max-width: 700px) {
  .brands__logos li {
    padding-left: 0;
    text-align: center;
    width: 33.33333%;
  }
}
@media (max-device-width: 480px) {
  .brands__logos li {
    width: 50%;
  }
}
.brands__logos .clinicloud img,
.brands__logos .feegow img,
.brands__logos .gipo img,
.brands__logos .jameda img,
.brands__logos .tuotempo img {
  transition: all 0.2s ease 0s;
  filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%)
    contrast(0);
  -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg)
    brightness(300%) contrast(0);
  opacity: 0.55;
}
.brands__logos .clinicloud:hover img,
.brands__logos .feegow:hover img,
.brands__logos .gipo:hover img,
.brands__logos .jameda:hover img,
.brands__logos .tuotempo:hover img {
  filter: none;
  opacity: 1;
}
.brands__logos .tuotempo img {
  height: 16px;
}
.brands__logos .jameda img {
  height: 20px;
}
.brands__logos .clinicloud,
.brands__logos .gipo {
  width: 12.5%;
}
@media (max-width: 700px) {
  .brands__logos .clinicloud,
  .brands__logos .gipo {
    width: 33.33333%;
  }
}
@media (max-device-width: 480px) {
  .brands__logos .clinicloud,
  .brands__logos .gipo {
    width: 50%;
  }
}
.brands__logos .clinicloud img,
.brands__logos .gipo img {
  height: 34px;
}
.brands__logos a {
  display: inline-block;
  padding: 5px 0;
}
.brands__logos a svg {
  height: 20px;
  width: auto;
  max-width: 100%;
}
.brands__logos a path {
  transition: all 0.2s ease 0s;
  fill: hsla(0, 0%, 67%, 0.7);
}
.brands__logos a:hover path {
  fill: #00bfa5;
}
.stats {
  background: #e5faf8;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 204, 177, 0.01) 5%,
    rgba(61, 199, 223, 0.1)
  );
  padding: 1.875em 0 0.625em;
  overflow: hidden;
  margin: 3.125rem auto 5.5rem;
}
@media (max-device-width: 480px) {
  .stats {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 850px) {
  .stats .section__inner {
    max-width: 635px;
  }
  .stats .section__inner > .grid > .col-2 {
    width: 100%;
    float: none;
    text-align: center;
  }
  .stats__header p {
    margin-right: auto;
    margin-left: auto;
  }
}
.stats__header {
  margin-top: 2em;
}
@media (max-device-width: 480px) {
  .stats__header {
    margin-top: 0;
    margin-bottom: 2em;
    text-align: center;
  }
  .stats__header h1 {
    font-size: 1.875em;
  }
}
.stats__header p {
  max-width: 415px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.7142857143;
}
.stats__header:before {
  content: '';
  position: absolute;
  right: 67%;
  top: 45%;
  background: url(/img/logo.png) no-repeat;
  width: 456px;
  height: 435px;
  pointer-events: none;
}
@media (max-device-width: 480px) {
  .stats__header:before {
    width: 400px;
    margin-right: -200px;
    right: 50%;
    top: 70%;
  }
}
.stats__item {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  height: 250px;
  text-align: center;
  padding: 15px;
  font-size: 0.8125em;
}
.stats__item h3 {
  font-size: 1.8461538462em;
  color: #00b39b;
  margin: 0.5em 0;
}
.stats__item p {
  margin: 0;
}
@media (max-device-width: 480px) {
  .stats__item {
    height: 196px;
  }
  .stats__item img {
    max-width: 28px;
  }
  .stats__item h3 {
    font-size: 1.125em;
  }
}
.stats__grid .col-2:nth-of-type(2n) .stats__item {
  transform: translateY(-30px);
}
@media (max-device-width: 480px) {
  .stats__grid {
    margin: 0 -5px;
  }
  .stats__grid .col-2 {
    padding: 5px;
    width: 50%;
    float: left;
  }
}
.offices {
  margin-top: 5.5rem;
  margin-bottom: 5rem;
}
@media (max-device-width: 480px) {
  .offices {
    margin-top: 1.875em;
    margin-bottom: 1.875em;
  }
}
.offices__header {
  max-width: 460px;
  margin: 0 auto 4.1875rem;
  font-size: 0.875em;
  text-align: center;
}
@media (max-width: 870px) {
  .offices__header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-device-width: 480px) {
  .offices__header {
    margin-bottom: 1.875em;
  }
}
.offices__header p {
  line-height: 1.7142857143;
}
.offices__header h1 {
  font-size: 2.1428571429em;
}
@media (min-width: 871px) {
  .offices__slider {
    margin: 0 -10px;
    zoom: 1;
  }
  .offices__slider:after,
  .offices__slider:before {
    content: '';
    display: table;
  }
  .offices__slider:after {
    clear: both;
  }
  .offices__slider .office {
    width: 33.33%;
    float: left;
  }
  .offices__slider .office:nth-of-type(3n + 1) {
    clear: left;
  }
}
.offices .slick-dots li {
  width: 12px;
  margin: 0 2px;
}
.offices .slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 2px;
}
.offices .slick-dots li button:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: 2px;
  left: 2px;
  background: #e0e4e4;
  opacity: 1;
}
.offices .slick-dots li.slick-active button:before {
  background: #3d83df;
}
@media (max-width: 870px) {
  .offices {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  .offices .office {
    width: 290px;
    float: left;
  }
  .offices .slick-slide {
    outline: 0;
  }
}
.office {
  padding: 10px;
}
@media (max-width: 330px) {
  .office {
    padding: 10px 5px;
  }
}
.office__inner {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  overflow: hidden;
  max-width: 311px;
  z-index: 2;
  position: relative;
  display: block;
  color: #747474;
}
.office__inner:hover {
  text-decoration: none;
}
@media (min-width: 871px) {
  .office__inner {
    box-shadow: 0 5px 10px 0 transparent;
    transition: box-shadow 0.2s ease 0s;
  }
  .office__inner:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.13);
  }
}
.office__image img {
  display: block;
  margin: 0 auto;
}
.office__desc {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.6666666667;
  padding: 1.1111111111em;
}
.office .btn {
  float: right;
}
.join-us {
  margin: 5rem auto;
}
.join-us__header {
  max-width: 520px;
  margin: 0 auto;
  font-size: 0.875em;
  text-align: center;
}
.join-us__header h1 {
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
}
.hire {
  margin-top: 4.1875rem;
  text-align: center;
  clear: both;
}
@media (max-width: 460px) {
  .hire {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-device-width: 480px) {
  .hire {
    margin-top: 3.75rem;
  }
}
.hire h2 {
  color: #333;
  margin-bottom: 0.6666666667em;
}
.career-lead {
  background: url(/images/bg-top.jpg) no-repeat 50% 50% / cover;
}
.career-lead__text {
  max-width: 440px;
  padding: 3em 2.5em 3.125em 3.125em;
  background: #fff;
  margin: 3.75em 0;
}
@media (max-device-width: 480px) {
  .career-lead__text {
    margin: 2em 0;
    padding: 1.5em;
  }
}
.career-lead h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}
.career-lead p {
  line-height: 1.75;
}
.search {
  margin: 3.125em auto;
}
@media (max-device-width: 480px) {
  .search {
    margin: 1.875rem auto;
  }
}
.search h1 {
  font-size: 1.75em;
  text-align: center;
}
.search h3 {
  color: #333;
  margin: 0.8em 0 0.2em;
}
.search__grid {
  margin: 3.125rem -5px 0;
  font-size: 0;
  zoom: 1;
}
.search__grid:after,
.search__grid:before {
  content: '';
  display: table;
}
.search__grid:after {
  clear: both;
}
@media (max-device-width: 480px) {
  .search__grid {
    margin-top: 1.875rem;
  }
}
.search__item {
  padding: 5px;
  font-size: 1rem;
  width: 25%;
  display: inline-block;
  position: relative;
}
.search__item:hover {
  z-index: 1;
}
@media (max-width: 830px) {
  .search__item {
    width: 33.33%;
  }
}
@media (max-device-width: 480px) {
  .search__item {
    width: 50%;
  }
  .search__item__inner {
    padding: 0 0 0.875rem;
  }
  .search__item__icon {
    height: 115px;
    line-height: 115px;
    margin-bottom: 1.2em;
  }
  .search__item object {
    max-width: 100%;
  }
  .search__item .btn {
    font-size: 0.625rem;
    padding: 1em 1.5em;
  }
}
.search__item__inner {
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  background: #fff;
  text-align: center;
  padding: 0 0 1.875rem;
  display: block;
  box-shadow: 0 5px 10px 0 transparent;
  transition: box-shadow 0.2s ease 0s;
}
.search__item__inner:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.11);
  text-decoration: none;
}
.search__item__icon {
  line-height: 125px;
  height: 125px;
  margin: 0.2em auto 1.875em;
}
.search__item object {
  vertical-align: bottom;
}
.together {
  background: #f6f8f8;
  padding-bottom: 2.5em;
  margin-bottom: 1.8125em;
}
.together .section__inner {
  max-width: 990px;
}
.together h1 {
  font-size: 1.75em;
  text-align: center;
  margin: 3.125rem 0;
}
@media (max-device-width: 480px) {
  .together h1 {
    margin: 1.875rem 0;
  }
}
.together__grid {
  width: 940px;
  height: 480px;
  position: relative;
  margin: 0 auto;
}
.together__item {
  position: absolute;
  display: block;
  background: no-repeat 50% 50% / cover;
  box-shadow: 0 0 0 0 transparent;
}
.together__item path {
  transition: all 0.2s ease 0s;
}
.together__item:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.together__item:hover path {
  fill: #00b39b !important;
}
.together__item--1 {
  top: 0;
  left: 0;
  width: 470px;
  height: 250px;
}
.together__item--1 svg {
  fill: #fff;
}
.together__item--2 {
  top: 260px;
  left: 0;
  width: 230px;
  height: 220px;
}
.together__item--3 {
  top: 0;
  left: 480px;
  width: 230px;
  height: 250px;
}
.together__item--4 {
  top: 0;
  left: 720px;
  width: 230px;
  height: 480px;
}
.together__summary {
  position: absolute;
  top: 260px;
  left: 240px;
  width: 460px;
  height: 220px;
  background: #fff;
  text-align: center;
  padding: 0 5%;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
}
.together__summary p {
  margin-top: 0;
  color: #333;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6666666667;
}
.together__summary__icon {
  float: left;
  margin-right: 10px;
}
.together__summary__icon object {
  height: 20px;
}
.together__summary span {
  line-height: 20px;
}
@media (max-device-width: 480px) {
  .together__summary {
    background-position: -18px 100px;
  }
  .together__summary p {
    font-size: 1em;
  }
}
@media (max-width: 990px) {
  .together .section__inner {
    max-width: 750px;
  }
  .together__grid {
    width: 710px;
    height: 670px;
  }
  .together__item--3 {
    top: 260px;
    left: 240px;
    height: 220px;
  }
  .together__item--4 {
    left: 480px;
  }
  .together__summary {
    position: absolute;
    top: 490px;
    left: 0;
    width: 710px;
    height: 179px;
    background-position: -10px 70px;
  }
}
@media (max-width: 750px) {
  .together .section__inner {
    max-width: 750px;
  }
  .together__grid {
    width: 100%;
    max-width: 470px;
    height: auto;
  }
  .together__grid > div {
    padding-bottom: 153.19148936%;
    position: relative;
  }
  .together__item {
    height: auto;
  }
  .together__item--1 {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 53.19148936%;
  }
  .together__item--2 {
    top: 36.11111111%;
  }
  .together__item--2,
  .together__item--3 {
    left: 0;
    width: 48.93617021%;
    padding-bottom: 46.80851064%;
  }
  .together__item--3 {
    top: 68.05555556%;
  }
  .together__item--4 {
    top: 36.11111111%;
    left: 51.06382979%;
    width: 48.93617021%;
    padding-bottom: 95.74468085%;
  }
  .together__summary {
    padding: 2em !important;
    width: 100%;
    height: auto;
    top: auto;
    left: auto;
  }
}
.summary-section {
  position: relative;
  z-index: 2;
}
.perks h1,
.values h1 {
  text-align: center;
  margin-bottom: 1.4642857143em;
  font-size: 1.75em;
}
@media (max-device-width: 480px) {
  .perks h1,
  .values h1 {
    margin-bottom: 1.0714285714em;
  }
}
.perks ul,
.values ul {
  list-style: none;
}
.values .col-2 {
  padding-top: 0;
  padding-bottom: 0;
}
.values h2 {
  margin: 0.55em 0 0.2em;
  font-size: 0.875em;
  font-weight: 600;
  color: #333;
}
.values p {
  margin: 0.75em 0;
  font-size: 0.75em;
  line-height: 1.5714285714em;
  max-width: 235px;
}
.values__item {
  padding-left: 50px;
  padding-top: 1px;
  min-height: 130px;
}
@media (max-device-width: 480px) {
  .values__item {
    min-height: 0;
    padding-bottom: 1em;
  }
}
.values__item__icon {
  float: left;
  width: 50px;
  padding-right: 10px;
  text-align: center;
  margin-left: -50px;
}
.perks p {
  margin: 0;
}
.perks strong {
  color: #333;
}
.perks__item {
  font-size: 0.8125em;
  background: #f6f8f8;
  border-bottom: 1px solid #fff;
  padding: 24px 20px 16px 60px;
  line-height: 1.7;
}
.perks__item__icon {
  float: left;
  width: 50px;
  padding-right: 10px;
  text-align: center;
  margin-left: -50px;
}
.perks__item:first-child {
  border-radius: 8px 8px 0 0;
}
.perks__item:last-child {
  border: 0;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -4.5em;
  padding-left: 65px;
  padding-right: 25px;
}
.photos-slider {
  line-height: 200px;
}
.photos-slider img {
  max-width: 200px;
}
.positions {
  margin-top: 3.5625em;
}
.positions__header {
  margin-bottom: 2.75em;
}
.positions__header h1 {
  font-size: 1.75em;
  text-align: center;
}
.positions__offers {
  padding-left: 27.69230769%;
  position: relative;
  min-height: 200px;
  margin-bottom: 2.75em;
}
@media (max-width: 960px) {
  .positions__offers {
    padding-left: 0;
    padding-top: 95px;
  }
}
@media (max-device-width: 480px) {
  .positions__offers {
    padding-top: 75px;
  }
}
.positions__filters {
  position: absolute;
  top: 35px;
  left: 0;
  width: 23.58974359%;
}
@media (max-width: 960px) {
  .positions__filters {
    top: 0;
    left: 0;
    width: 100%;
    text-align: justify;
    -webkit-text-align-last: justify;
    text-align-last: justify;
  }
}
.positions__department.hide {
  display: none;
}
.positions__department.show {
  display: block;
}
.positions__department > h3 {
  font-size: 1.125rem;
  line-height: 2.222;
  color: #747474;
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid hsla(180, 7%, 89%, 0.5);
}
.positions__single.show {
  display: block;
}
.positions__single.hide {
  display: none;
}
.positions__single__image {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 60px;
}
@media (max-device-width: 480px) {
  .positions__single__image {
    left: 0;
  }
}
.positions__single__inner {
  display: table;
  width: 100%;
}
@media (max-device-width: 480px) {
  .positions__single__inner {
    display: block;
  }
}
.positions__single__desc {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
@media (max-device-width: 480px) {
  .positions__single__desc {
    display: block;
  }
}
.positions__single__desc h1 {
  font-size: 1rem;
  margin: 0;
  color: #333;
  font-weight: 400;
  line-height: 1.375rem;
  transition: color 0.2s ease 0s;
}
.positions__single__desc h2 {
  font-size: 0.875rem;
}
.positions__single__desc h2,
.positions__single__desc h3 {
  margin: 0;
  color: #747474;
  font-weight: 400;
  line-height: 1.375rem;
}
.positions__single__desc h3 {
  font-size: 0.75rem;
}
.positions__single__more {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
  width: auto;
}
@media (max-device-width: 480px) {
  .positions__single__more {
    display: block;
    padding-top: 10px;
    padding-left: 0;
  }
}
.positions__single > a {
  padding: 30px 20px 30px 110px;
  border: 1px solid #fff;
  border-radius: 8px;
  position: relative;
  display: block;
}
@media (max-device-width: 480px) {
  .positions__single > a {
    padding: 18px 15px 25px 90px;
  }
  .positions__single > a:after {
    left: 90px;
  }
}
.positions__single > a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 120px;
  right: 0;
  height: 1px;
  background: hsla(180, 7%, 89%, 0.5);
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}
.positions__single > a:hover {
  background: #f7fafa;
  border-color: #eef2f2;
  text-decoration: none;
}
.positions__single > a:hover:after {
  opacity: 0;
  right: 8px;
}
.positions__single > a:hover h1 {
  color: #1662c6;
}
.positions__single > a:hover .btn--gray {
  background: #3d83df;
  color: #fff;
}
.positions .filter-select {
  position: relative;
  display: block;
  vertical-align: middle;
  outline: 0;
  border: 1px solid #eef2f2;
  margin: 10px 0;
  border-radius: 6px;
  color: #333;
  background: #fff;
  font-weight: 300;
  text-align: left;
  text-decoration: none !important;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
@media (max-width: 960px) {
  .positions .filter-select {
    width: 48%;
    display: inline-block;
  }
}
.positions .filter-select label {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 0.75em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 960px) {
  .positions .filter-select label {
    bottom: 15px;
  }
}
@media (max-device-width: 480px) {
  .positions .filter-select label {
    display: none;
  }
}
.positions .filter-select select {
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 9px 40px 31px 20px;
  height: 80px;
  line-height: 40px;
  -webkit-appearance: none;
  outline: 0;
}
@media (max-width: 960px) {
  .positions .filter-select select {
    padding-top: 5px;
    padding-bottom: 25px;
    height: 70px;
  }
}
@media (max-device-width: 480px) {
  .positions .filter-select select {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
  }
}
.positions .filter-select:hover {
  background: hsla(0, 0%, 100%, 0.9);
  color: #333;
}
.positions .filter-select:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -0.5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  line-height: 1em;
  background: no-repeat url(/icons/arrow-icon@2x.png) 50% 50%;
  background-size: 8px;
  pointer-events: none;
}
.photos-slider {
  line-height: 300px;
  width: 100%;
}
.photos-slider,
.photos-slider__wrapper {
  overflow: hidden;
}
.photos-slider img {
  display: inline-block;
  vertical-align: bottom;
}
.photos-slider .slick-slide {
  outline: 0;
}
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.other-position {
  background: #f6f8f8;
  font-size: 1.5rem;
  text-align: center;
  padding: 15px 0;
  font-weight: 300;
}
.other-position h1 {
  color: initial;
  margin-top: 1.6em;
}
.other-position__work {
  background: #00b39b;
  border-radius: 6px;
  color: #fff;
  padding: 1px 10px 3px;
}
.other-position p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.fade-elements > * {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.35s ease 0s;
}
.fade-elements > .fade-elements__visible {
  transform: translate(0);
  opacity: 1;
}
.services .fade-elements .services__item > * {
  opacity: 0;
  transform: translate(30px);
  transition: all 0.25s ease 0.25s;
}
.services .fade-elements .services__item > :first-child {
  transition-delay: 0.25s;
}
.services .fade-elements .services__item > :nth-child(2) {
  transition-delay: 0.3s;
}
.services .fade-elements .services__item > :nth-child(3) {
  transition-delay: 0.45s;
}
.services .fade-elements .services__item > :nth-child(4) {
  transition-delay: 0.6s;
}
.services .fade-elements .fade-elements__visible .services__item > * {
  opacity: 1;
  transform: translate(0);
}
.goals .fade-elements img {
  opacity: 0;
  transition: opacity 0.25s ease 0.15s;
}
.goals .fade-elements__visible img {
  opacity: 1;
}
.defered .together__item--1 {
  background-image: url(/images/fb0.jpg);
}
.defered .together__item--2 {
  background-image: url(/images/fb3.jpg);
}
.defered .together__item--3 {
  background-image: url(/images/fb1.jpg);
}
.defered .together__item--4 {
  background-image: url(/images/fb2.jpg);
}
html[region='pl'] .defered .together__item--1 {
  background-image: url(/images/video.jpg?v=1);
}
html[region='pl'] .defered .together__item--1 svg {
  fill: #000;
}
.video__wrapper {
  position: relative;
  margin: 50px 0;
  opacity: 1;
}
.video__wrapper,
.video__wrapper .video {
  transition: all 0.2s ease;
}
.video__wrapper .modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}
.video__wrapper button.scrolldown {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease;
  background: transparent;
  z-index: 2;
}
.video__wrapper button.scrolldown.inactive {
  pointer-events: none;
  opacity: 0;
}
.video__wrapper button.scrolldown.active {
  pointer-events: all;
  opacity: 1;
}
.video__wrapper button.close {
  pointer-events: none;
  opacity: 0;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
  background: none;
  border: none;
  box-shadow: none;
}
.video__wrapper button.close:before {
  transform: rotate(-45deg);
}
.video__wrapper button.close:after,
.video__wrapper button.close:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 10px;
}
.video__wrapper button.close:after {
  transform: rotate(45deg);
}
.video__wrapper button.close:hover {
  filter: brightness(0.6);
}
.video__wrapper.modal {
  position: fixed !important;
  margin: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video__wrapper.modal .video {
  max-width: 1200px;
  position: relative;
}
.video__wrapper.modal .modal-overlay {
  opacity: 0.6;
  background: #000;
  width: 100vw;
  height: 100vh;
}
.video__wrapper.modal button.close {
  pointer-events: all;
  opacity: 1;
}
#video {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
#video .video__wrapper {
  position: relative;
  z-index: 2;
}
#video .video__wrapper .initialSceneOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.7;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  background: url(http://s3-eu-west-1.amazonaws.com/docplanner.com/video/button_place.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: filter 0.2s ease;
  animation: bounceIn 1s linear 2s infinite normal;
}
@keyframes bounceIn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  80% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
#video .video__wrapper .initialSceneOverlay:hover {
  filter: contrast(1.4);
}
#video .video__wrapper .initialSceneOverlay.inactive {
  opacity: 0;
  display: none;
  pointer-events: none;
}
#video .video__wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  display: flex;
  justify-content: center;
  z-index: 2;
  opacity: 1;
  transition: all 0.2s ease;
}
#video .video__wrapper .overlay.inactive {
  opacity: 0;
  pointer-events: none;
}
#video .video__wrapper .overlay:hover {
  opacity: 0.9;
}
#video .video__wrapper .overlay div {
  background: #fff;
  width: 50%;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
#video .video__wrapper .overlay div:hover {
  opacity: 0;
}
#video .video__wrapper .overlay .left,
#video .video__wrapper .overlay .right {
  opacity: 0.3;
}
#video .video__wrapper #videoGame {
  width: 100%;
  height: auto;
}
